/**
 * @name Undertale
 * @author ennesis
 * @version 1.0
 * @description A brief description of your theme.
*/

@font-face {
    font-family: "operator";
    src: url("./operator.ttf");
    font-weight: 200;
}

:root {
    /* background */
    --background-base-low: #000;
    --background-base-lower: #000;
    --background-base-lowest: #000;
}

.avatar_c19a55 {
	left: 8px; /* formerly -56px*/
	top: 0px;
	width: 45px;
	height: 45px;
	box-sizing: border-box;
	border-radius: 0;
	margin: 0;
    filter: grayscale(100%);
}

.avatar_c19a55:hover {
	filter: grayscale(0%);

}

.avatar_c19a55:active {
	transform: none !important;
}

.avatarDecoration_c19a55 {
	width: 45px;
	height: 45px;
	left: 9px;
	margin-top: 0;
}

.headerText_c19a55 > .username_c19a55 {
    vertical-align: top;
    font-size: 1.5rem;
    overflow: visible !important;
}

.scrollerContent__36d07 {
    /* background-color: magenta; */
    padding: 0 20px 0 30px;
}

.messageListItem__5126c {
    border-color: #fff;
    border-style: solid;
    background: #000 !important;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding-right: 0 !important;
    opacity: 1 !important;
    font-size: 1rem;
}

.backgroundFlash__5126c .message__5126c {
    padding-bottom: 2px;
}

.backgroundFlash__5126c.groupStart__5126c {
    margin-top: 16px;
}

.message__5126c.groupStart__5126c, .backgroundFlash__5126c.groupStart__5126c .message__5126c  {
    margin-top: 8px !important;
}

/* lag machine */
.messageListItem__5126c:has(+ .messageListItem__5126c>.groupStart__5126c) .message__5126c,
.messageListItem__5126c:has(+ .groupStart__5126c) .message__5126c,
.messageListItem__5126c:has(+ .scrollerSpacer__36d07) .message__5126c,
.messageListItem__5126c:has(+ .beforeGroup__5126c) .message__5126c,
.messageListItem__5126c:has(+ .divider__5126c.hasContent__908e2) .message__5126c,
.messageListItem__5126c:has(+ .wrapper_c19a55) .message__5126c,
.backgroundFlash__5126c:has(+ .messageListItem__5126c>.groupStart__5126c) .message__5126c,
.backgroundFlash__5126c:has(+ .groupStart__5126c) .message__5126c,
.backgroundFlash__5126c:has(+ .scrollerSpacer__36d07) .message__5126c,
.backgroundFlash__5126c:has(+ .beforeGroup__5126c) .message__5126c,
.backgroundFlash__5126c:has(+ .divider__5126c.hasContent__908e2) .message__5126c,
.backgroundFlash__5126c:has(+ .wrapper_c19a55) .message__5126c,
.messageListItem__5126c:has(:first-child.systemMessage__5126c) {
    margin-bottom: 4px;
    font-size: 1rem;
}

.messageListItem__5126c:has(:first-child.groupStart__5126c),
.messageListItem__5126c:has(:first-child.systemMessage__5126c) {
    border-top-width: 5px;
    font-size: 1rem;
}

.messageListItem__5126c:has(+ .messageListItem__5126c>.groupStart__5126c),
.messageListItem__5126c:has(+ .groupStart__5126c),
.messageListItem__5126c:has(+ .scrollerSpacer__36d07),
.messageListItem__5126c:has(+ .beforeGroup__5126c),
.messageListItem__5126c:has(+ .divider__5126c.hasContent__908e2),
.messageListItem__5126c:has(+ .wrapper_c19a55),
.backgroundFlash__5126c:has(+ .messageListItem__5126c>.groupStart__5126c) .messageListItem__5126c,
.backgroundFlash__5126c:has(+ .groupStart__5126c) .messageListItem__5126c,
.backgroundFlash__5126c:has(+ .scrollerSpacer__36d07) .messageListItem__5126c,
.backgroundFlash__5126c:has(+ .beforeGroup__5126c) .messageListItem__5126c,
.backgroundFlash__5126c:has(+ .divider__5126c.hasContent__908e2) .messageListItem__5126c,
.backgroundFlash__5126c:has(+ .wrapper_c19a55) .messageListItem__5126c,
.messageListItem__5126c:has(:first-child.systemMessage__5126c) {
    border-bottom-width: 5px !important;
    border-bottom-color: #fff;
    margin-bottom: 16px;
    font-size: 1rem;
}

.divider__5126c, .divider__908e2:has(+ .messageListItem__5126c>.systemMessage__5126c) {
    margin-bottom: 16px;
}

/* Seperator between messages when they are from different days. */
.divider__908e2.hasContent__908e2 {
    margin-bottom: 24px !important;
}

.groupStart__5126c {
    padding-top: 0px;
}

.mentioned__5126c::before {
    display: none;
}

.messageListItem__5126c:has(:first-child.mentioned__5126c) {
    /*box-shadow: 0px 0px 15px yellow;*/
    opacity: 1 !important;
    border-color: yellow;
    background-color: rgb(55,55,0);
    border-style: solid;
}

.isUnread__908e2 {
    border-color: #fff;
}

.beforeGroup__5126c {
    top: 14px !important;
    margin-bottom: 46px !important;
}

.isUnread__908e2:not(.beforeGroup__5126c):not(.hasContent__908e2):not(:has(+ .messageListItem__5126c>.systemMessage__5126c)) {
    background: #000 !important;
    height: auto;
    border-color: #fff !important;
    border-style: solid;
    border-width: 0px 5px !important;

    padding-top: 4px;
    padding-bottom: 4px;

    margin: 0px !important;
}

/* CONSIDER: optional? */
.isUnread__908e2 {
    border-width: 0px;
}

/*
 * .isUnread__908e2.divider__908e2.hasContent__908e2 {
 *	display: block;
 * }*/

.isUnread__908e2::before {
    border-color: red;
    border-style: solid;
    border-width: 5px;
    content: "Unread";
    color: red;
    background-color: #000;
    font-size: 1.2rem;
    padding: 5px 50px 5px 50px;
}

.isUnread__908e2 > span {
    display: none;
}

.scrollerSpacer__36d07 {
    height: 20px;
}

.emoji {
    vertical-align: top;
}

body *, ::placeholder {
    font-family: "operator" !important;
    font-size: 1rem;
    font-variant-ligatures: none !important;
}

/*.formWithLoadedChatInput_f75fb0 {
 *	background: url("../../assets/barelyfaded.gif");
 * }*/

/* Standard Message Box   Edit Message Box */
.channelTextArea_f75fb0, .channelTextArea__5126c {
    background-color: #000 !important;
    border-size: 5px !important;
    border-color: #fff !important;
    border-radius: 0px;
}

/* message input. former: .channelTextArea_f75fb0 .scrollableContainer__74017 */
.scrollableContainer__74017 {
    background-color: #000 !important;
    border-size: 5px !important;
    border-color: #fff !important;
    border-radius: 0px;
}
